node_modules

#Ignore specific files
#*.exe
*.zip
*.nupkg
RELEASES

#Ignore specific folders
/electron/release-builds/file-converter-app-win32-ia32
/electron/release-builds/file-converter-app-darwin-x64
/electron/release-builds/file-converter-admin-app-win32-ia32
/electron/release-builds/file-converter-admin-app-darwin-x64
/electron/release-builds/AstaExtended-win32-ia32
/electron/release-builds/Asta-win32-ia32
#/release-builds/windows-installer - included this once the program is out of development (use tagging in GitHub instead of pushing .exe files)
#/release-builds/windows-installer-admin - included this once the program is out of development (use tagging in GitHub instead of pushing .exe files)


#Include specific files
!*/release-builds/windows-installer/FileConverterAdmin.exe
/dotNET/.vs/Athena/v15/Server/sqlite3
/dotNET/Athena/obj/Debug
/dotNET/.vs/Athena/v15
/electron/assets/scripts/Athena.pdb
/dotNET/Athena/obj/Release
/dotNET/Athena/bin/Debug
/dotNET/AthenaConsole/bin/Debug
/dotNET/AthenaConsole/obj/Debug
/dotNET/AthenaForm/obj/Debug
/dotNET/AthenaWPF/bin/Debug
/dotNET/AthenaWPF/obj/Debug
/electron/assets/scripts/AthenaForm.pdb
/electron/assets/scripts/AthenaWPF.pdb
/electron/assets/scripts/Athena.pdb
/electron/assets/scripts/AthenaConsole.pdb
electron/assets/scripts/Athena.exe
electron/assets/scripts/Athena.exe.config
/dotNET/AthenaForm/Athena.pdb
/dotNET/packages
/electron/assets/scripts/athena.log
/dotNET/AthenaConsole/obj/Release
/dotNET/AthenaForm/obj/Release
/dotNET/AthenaWPF/obj/Release
/dotNET/Athena/bin/Release
/dotNET/AthenaWPF/bin/Release
/dotNET/Styx/obj/Debug
/dotNET/.vs/Styx
/dotNET/Styx/.vs/Styx/v15
/dotNET/Styx/bin/Debug
/dotNET/StyxConsole/bin/Debug
/dotNET/StyxConsole/obj/Debug
/dotNET/StyxForm/bin/Debug
/dotNET/StyxForm/obj/Debug
/dotNET/Styx/bin/Release
/dotNET/Styx/obj/Release
/dotNET/StyxConsole/obj/Release
/dotNET/StyxForm/obj/Release
/electron/assets/scripts/Styx.pdb
/electron/assets/scripts/StyxConsole.pdb
/electron/assets/scripts/StyxForm.pdb
/dotNET/Asta/bin
/dotNET/Asta/obj
/electron/assets/scripts/Asta.pdb
/electron/assets/scripts/styx.log
/electron/release-builds/asta-app-win32-ia32
/electron/release-builds/asta-extended-app-win32-ia32
electron/.vscode/settings.json
electron/.vs/ProjectSettings.json
electron/.vs/slnx.sqlite
electron/.vs/VSWorkspaceState.json
electron/.vs/electron/config/applicationhost.config
electron/.vs/electron/v16/.suo
