node_modules

#Ignore specific files
#*.exe
*.zip
*.nupkg
RELEASES

#Ignore specific folders
/electron/release-builds/file-converter-app-win32-ia32
/electron/release-builds/file-converter-app-darwin-x64
/electron/release-builds/file-converter-admin-app-win32-ia32
/electron/release-builds/file-converter-admin-app-darwin-x64
#/release-builds/windows-installer


#Include specific files
!*/release-builds/windows-installer/FileConverterAdmin.exe
/dotNET/.vs/Athena/v15/Server/sqlite3
/dotNET/Athena/obj/Debug
/dotNET/.vs/Athena/v15
/electron/assets/scripts/Athena.pdb
/dotNET/Athena/obj/Release
/dotNET/Athena/bin/Debug
/dotNET/AthenaConsole/bin/Debug
/dotNET/AthenaConsole/obj/Debug
/dotNET/AthenaForm/obj/Debug
/dotNET/AthenaWPF/bin/Debug
/dotNET/AthenaWPF/obj/Debug
/electron/assets/scripts/AthenaForm.pdb
/electron/assets/scripts/AthenaWPF.pdb
/electron/assets/scripts/Athena.pdb
/electron/assets/scripts/AthenaConsole.pdb
electron/assets/scripts/Athena.exe
electron/assets/scripts/Athena.exe.config
/dotNET/AthenaForm/Athena.pdb
/dotNET/packages
/electron/assets/scripts/athena.log
/dotNET/AthenaConsole/obj/Release
/dotNET/AthenaForm/obj/Release
/dotNET/AthenaWPF/obj/Release
