node_modules

#Ignore specific files
#*.exe
*.zip
*.nupkg
RELEASES

#Ignore specific folders
/electron/release-builds/file-converter-app-win32-ia32
/electron/release-builds/file-converter-app-darwin-x64
/electron/release-builds/file-converter-admin-app-win32-ia32
/electron/release-builds/file-converter-admin-app-darwin-x64
#/release-builds/windows-installer - included this once the program is out of development (use tagging in GitHub instead of pushing .exe files)
#/release-builds/windows-installer-admin - included this once the program is out of development (use tagging in GitHub instead of pushing .exe files)


#Include specific files
!*/release-builds/windows-installer/FileConverterAdmin.exe
/dotNET/Athena/obj/Debug
/dotNET/.vs/Athena/v15/Server/sqlite3
/dotNET/.vs/Athena/v15
/dotNET/Athena/bin/Release/Athena.pdb
/dotNET/Athena/obj/Release
/dotNET/Athena/bin/Debug
/dotNET/AthenaConsole/obj/Debug
/dotNET/AthenaForm/obj/Debug
/dotNET/AthenaWPF/obj/Debug
/electron/assets/scripts/Athena.pdb
/electron/assets/scripts/AthenaWPF.pdb
