@font-face {
    font-family: SourceSansPro;
    src: url("../fonts/SourceSansPro-Regular.otf");
    font-style: normal;
    font-weight: 100px;
}

@font-face {
    font-family: SourceSansProBold;
    src: url("../fonts/SourceSansPro-Bold.otf");
    font-style: normal;
    font-weight: 100px;
}

body {
    background-color: #fff;
    font-family: SourceSansPro;
}

a {
    text-decoration: underline #49897f;
    cursor: pointer;
    color: #49897f;
}

button {
    font-family: SourceSansPro;
    background-color: #6db1a7;
    border: solid #49897f 0.5px;
    color: #fff;
    padding-top: 1px;
    padding-right: 10px;
    padding-bottom: 1px;
    padding-left: 10px;
    height: 30px;
    margin-top: 5px;
}

button:disabled {
    background-color: #665c5c;
}

.docBtn{
    margin-left: 5px;
}

input[type=text] {
    border: solid 0.5px #b2b2b2;
    height: 27px;
    padding-left:5px;
    font-family: SourceSansPro;
    margin-bottom: 5px;
    width: 49%
}

/* Override the size of the input boxes in nemesis as the general layout of that is more packed. */
#nemesis-path{
    width: 75%;
}

#nemesis-batch-path {
    width: 75%;
}

#keyVarContainer {
    text-align: right;
    width: 60%;
}

textarea {
    border: solid 0.5px #b2b2b2;
    padding-right:0px;
    font-family: SourceSansPro;
    margin-bottom: 5px;
    padding-left: 5px;
    width: 49%;
    float: inline-end;
}

.path {
    width: 30em;
}


i {
    margin-left: 5px;
    color: #49897f;
}

.fa-question-circle {
    cursor: pointer;
}

.menuBtn {
    color: black;
    background-color: rgb(1, 128, 11);
    text-align: center;
    display: inline-block;
}

.btnContaier {
    padding-left: 5%;
}

.formularContainer {
    padding-left: 5%;
    padding-right: 5%;
}

.alert-warning {
    background-color: #fcffe3;
    border: solid 0.5px #faebcc; 
    color: #8a6d3b;
    padding: 10px;
    display: block;
    width: fit-content;
}

.confirmation {
    background-color: lightgreen;
    color: #202a1a;
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 5px;
}

#content {
    padding-left: 200px;
    margin: -8px;
    margin-top: -10px;
}

/* Welcome (Start) page */

.welcomeImg {
    width: 73%;
    height: 100%;
}

.welcomeTextContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.imageText {
    font-style: italic;
}

.welcomeHeadline {
    margin: 10px 0px 0px 0px;
}

h2.subHeader {
    margin-bottom: 0px;
}

.subHeader {
    margin-top: 0px;
}

.bottomBorderTd {
    border: none;
    border-bottom: 1px solid #b2b2b2;
    padding: 6px;
}

.tdContent {
    display: flex;
}

.tdLeftContent {
    width: 60%;
}

.tdRightContent {
    width: 40%
}


/* Welcome (Start) page END */

/* Table */

th {
    background-color: #6db1a7;
    border: 1px solid black;
    padding: 6px;
}

td {
    border: 1px solid black;
    padding: 6px;
}

td .path {
    width: 76% !important;
}
/* hybris-contextdocuments-uploads */
#hybris-contextdocuments-uploads {
    width: 100%;
}

#hybris-contextdocuments-uploads tr td:nth-child(1) {
    width: 10%;
}

#hybris-contextdocuments-uploads tr td:nth-child(2) {
    width: 10%;
}

#hybris-contextdocuments-uploads tr td:nth-child(3) {
    text-align: center;
    width: 80%;
}

#hybris-contextdocuments-uploads td .path{
    width: 85% !important;
}



/* hybris-contextdocuments-uploads END*/

table {
    border-collapse: collapse;
    margin-bottom: 6px;
    margin-top:6px;
}

/* Specific for the Nøglevariable table */
.right-align {
    margin-left: auto;
    margin-right: 28px;
}
#hybris-metdata-addVarKeyBtn {
    margin-right: 25px !important;
}

/* Table END */

/* Title content */
.title {
    padding: 50px 10px 10px 0px;
    padding-left: 5%;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #49897f;
    display: inline-block;
}

.right {
    padding: 10px 0px 10px 0px;
    float: right;
    padding-right: 5%;
    color: white;
    text-shadow: 4px 3px 0 #49897f;
}
/* Title content END */

/* Font Headers */

h1 {
    font-size: 40px;
    color: #6db1a7;
}

h3 {
    color: #49897f;
}

h4 {
    color: #6db1a7;
    margin-bottom: 4px;
}

.header-warning {
    color: red;
}

.greyText {
    color: #b2b2b2;
}

.boldfaced {
    font-family: SourceSansProBold;
}

/* Font Headers END */

/* Side navigation menu */ 

.side-nav {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    /*opacity: 0.9;*/
    overflow-x: hidden;
    padding-top: 20px;
}

.side-nav a {
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color: #49897f;
    display: block;
}

.side-nav a:hover {
    color: #fff;
}

.selected {
    background-color: #fff;
}

a.selected:hover {
    color: #6db1a7;
}

#logo {
    width: 130px;
    height: 70px;
    margin: 0px 0px 0px 35px;
}

/* Side navigation menu END */

/* Header */

.header {
    /*background-color: rgb(26, 24, 24);*/
    background-color: #000000;
    height: 116px;
}

/* Header END */

/* HR elements */

.divider {
    background-color: #202a1a;
    width: 130px;
    height: 2px;
    align-self: center;
}

.button-divider {
    background-color: rgb(255, 137, 2);
    width: 90%;
    height: 2px;
    align-self: center;
}

/* HR elements END */

/* Label elements */

.descriptionLabel {
    margin-right: 10%;
    width: 200px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

/* Label elements END */

/* Nemesis layout */

.verticalDivider {
    border-left: 1px solid #b2b2b2;
    height: 90%;
    min-height: 400px;
}

.nemesisControls {
    width: 40%;
    overflow-wrap: break-word;
}

.nemesisOutput {
    height: 400px;
    width: 45%;
    border: 1px solid #000;    
    overflow-y: auto;
    /*box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);*/
    box-sizing: border-box;
    padding: 0px 10px;
}

.nemesisOutput i {
    word-wrap: break-word;
}

.box {
    display: flex;
    justify-content: space-between;
}

.testlogTitle {
    color: black;
    text-decoration-line: underline;
}

.rightContent {
    width: 50%;
}

#hybris-structure-path, #hybris-structure-delivery-package{
    width: 75%;
}
/* Nemesis layout END */

/* Nemesis output log elements */

.error {
    color: red;
    margin-left: 10px;
    margin-right: 5px;
}

.warning {
    color: yellow;
    margin-left: 5px;
    margin-right: 5px;
}

.ok {
    color: green;
    margin-left: 6px;
    margin-right: 5px;
}

.warningWithError {
    color: orange;
    margin-left: 5px;
    margin-right: 5px;
}

/* Nemesis output log elements END */

/* Spinner START */
.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #49897f;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #49897f transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .trinHeader {
    float:right;
  }
  
  #nemesis-spinner-container {
    width: 64px;
}
  /* Spinner END */

  .infoBox{
    border: solid black 1px;
    padding: 5px 0px;
    width: fit-content;
  }
