@font-face {
    font-family: SourceSansPro;
    src: url("../fonts/SourceSansPro-Regular.otf");
    font-style: normal;
    font-weight: 100px;
}

body{
    background-color: burlywood;  
    font-family: SourceSansPro; 
}

.side-nav{
    height: 100%;
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #dddddd;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 20px;
}

.side-nav a{
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color: #002a39;
    display: block;
}

.side-nav a:hover{
    color:#fff;
}

#content{
    padding-left: 150px;
}

#logo{
    width: 130px;
    height: 70px;
    margin: 0px 0px 0px 10px;
}

.divider{
    color: #1a232a;
    width: 130px;
    height: 2px;
    align-self: center;
}
